body {	
	font-family: 'Ubuntu', sans-serif;
	background-color: #141414;
	color: #fff;
	transition: 0.5 linear;
}
.header-logo {
	text-align: center;
	margin: 60px;
	font-size: 44px;
}
.header-logo span {
	transition: 0.7s ease-out;
	opacity: 1;
	color: #0fc;
	padding: 12px;
	border-radius: 30px;
	border: 3px solid #00f2c2;
	box-shadow: 0 0 7px #00f2c2;
}
.header-logo span:hover {
	box-shadow: 0 0 12.5px #00f2c2;
}
.header-navigation {
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	padding: 15px;
	width: 400px;
	border-bottom: 2px solid #fff;
	border-radius: 1px 1px 1px 1px;
}
.header-navigation span {
	padding: 10px;
}
.nav-date {
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
.main {
	display: flex;
	align-items: center;
	text-align: center;
}
.box-date {
	margin: 100px;
	font-size: 30px;
}
.box-date span {
	background-color: rgba(0,240,228,0.12);
	border-radius: 30px;
	padding: 35px;
	border: 3px solid #00f0e4;
	transition: 0.8s ease-out;
}
.box-date span:hover {
	background-color: rgba(0,240,228,0.4);
	border-radius: 30px;
	border: 3px solid #00f0e4;
	transition: 0.5 linear;
}
@media screen and (max-width: 590px) {
	.header-navigation {
		width: 350px
	}
}
@media screen and (max-width: 470px) {
	.header-navigation {
		width: 320px
	}
}
@media screen and (max-width: 450px) {
	.header-navigation {
		width: 290px
	}
	.box-date {
		margin: 80px;
		font-size: 30px;
	}
}
@media screen and (max-width: 350px) {
	.header-navigation {
		width: 290px
	}
	.box-date {
		margin: 60px;
		font-size: 30px;
	}
	.header-logo {
		font-size: 38px;
	}
	.box-date span {
		padding: 20px;
	}
}